/node_modules
/public/css
/public/js
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
npm-debug.log
auth.json
public/mix-manifest.json
_ide_helper.php
.phpstorm.meta.php
.php_cs.cache
.DS_Store