a {
    @apply no-underline;
}

a:hover {
    @apply underline;
}

.temp-learn-list {
    @apply list-disc;
}

.temp-learn-list ul {
    @apply list-disc;
    @apply mb-6;
    @apply ml-8;
    @apply mt-4;
}

.temp-learn-list li {
    @apply mb-3;
}

.temp-learn-list a {
    @apply text-indigo-600;
}

.temp-learn-list a:hover {
    text-decoration: underline;
}

.temp-learn-list .list-title {
    @apply font-bold;
    @apply text-lg;
}

.simple-form-button {
    @apply block;
    @apply border;
    @apply border-gray;
    @apply mt-4;
    @apply px-3;
    @apply py-1;
    @apply rounded;
}

.simple-form-button:hover {
    @apply border-silver;
    @apply bg-blue-500;
    @apply text-white;
}


/** Imported from Vue Language switcher for use in Alpine language switcher; delete if unused */
/*
.slide-leave-active {
    transition: all 500ms ease-in-out;
}

.slide-enter-to,
.slide-leave {
    max-height: 1000px;
    overflow: hidden;
}

.slide-enter,
.slide-leave-to {
    overflow: hidden;
    max-height: 0;
}

.grow-enter-active {
    transition: 100ms ease-out;
}

.grow-leave-active {
    transition: 75ms ease-in;
}

.grow-enter-to,
.grow-leave {
    opacity: 1;
    transform: scale(1);
}

.grow-enter,
.grow-leave-to {
    opacity: 0;
    transform: scale(0.95);
}
*/
