// tailwind does not play nice with pseudo elements
.mobileMenuBtn {
    &:before,
    &:after {
        @apply bg-mint rounded absolute block w-8 h-0.5 transition ease-in-out duration-200;
        content: "";
    }

    &:before {
        @apply transform -translate-y-1/2 rotate-0;
        top: calc(50% - 8px);
    }

    &:after {
        @apply transform -translate-y-1/2 rotate-0;
        bottom: calc(50% - 10px);
    }

    &.isActive {
        &:before {
            transform: translateY(calc(-50% + 10px)) rotate(45deg);
        }

        &:after {
            transform: translateY(calc(-50% - 7px)) rotate(-45deg);
        }
    }
}

// @mixin button-hover($background, $text: $white) {
//     &:active,
//     &:focus,
//     &:hover {
//         @apply no-underline;
//         color: $text;
//     }

//     &:hover {
//         background-color: darken($background, 6%);
//     }
// }

// .button {
//     @apply duration-300;
//     @apply ease-in-out;
//     @apply font-semibold;
//     @apply inline-block;
//     @apply leading-tight;
//     @apply px-6;
//     @apply py-3;
//     @apply rounded-md;
//     @apply transition-colors;

//     &:focus {
//         @apply outline-none;
//         @apply shadow-outline;
//     }

//     @screen md {
//         @apply text-lg;
//     }

//     @screen lg {
//         @apply text-xl;
//     }
// }

// .button-purple {
//     @apply bg-blue-violet;
//     @apply text-white;

//     @include button-hover($blue-violet);
// }

// .button-teal {
//     @apply bg-emerald;
//     @apply text-white;

//     @include button-hover($emerald);
// }

// .button-white {
//     @apply bg-white;
//     @apply text-blue-violet;

//     @include button-hover($white, $blue-violet);
// }
