// Mixin to quickly create pixel based spacing classes to
// be used with tailwindcss

@mixin exact-size {
    @for $i from 10 through ceil(calc(5000 / 20)) {
        $value: $i * 10;

        .h-#{$value}-px {
            height: #{$value}px;
        }
    }
}

@responsive {
    @include exact-size();
}
