* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @apply font-normal font-work-sans min-w-screen-xs text-gray-black mt-16;
}

[x-cloak] {
    display: none !important;
}
