* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @apply font-normal font-work-sans text-gray-black mt-16;
    min-width: 320px;
}

[x-cloak] {
    display: none !important;
}
