// Colors
$black: #000;
$white: #fff;

$off-white: #f8fbfd;

$blue-violet: #4c50bf;
$cornflower-blue: #657eea;
$east-bay: #4a5569;
$havelock-blue: #5967d8;
$oxford-blue: #2e3748;

$comet: #535f76;
$regent-grey: #7b8ba2;

// TailwindCSS
$teal-600: #319795;
