name: Run tests

on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test:
    name: PHP 8.1, Laravel 9.*
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1

      - name: Cache Composer dependencies
        uses: actions/cache@v2
        with:
          path: ~/.composer/cache/files
          key: php-8.1-laravel-8.*-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: php-8.1-laravel-8.*-composer-

      - name: Cache npm dependencies
        uses: actions/cache@v1
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: npm-

      - name: Copy ENV Laravel Configuration for CI
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"

      - name: Install dependencies
        run: |
          composer config "http-basic.nova.laravel.com" "${{ secrets.NOVA_USERNAME }}" "${{ secrets.NOVA_PASSWORD }}"
          composer install --prefer-dist --no-interaction --no-progress --no-suggest
          npm install
      - name: Build Assets
        run: npm run build

      - name: Generate key
        run: php artisan key:generate

      - name: Run PHP tests
        run: vendor/bin/phpunit
